* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

*{
    margin: 0 auto ;
    padding: 0 auto ;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}




body{
   
    font-family: 'Inter', sans-serif;
       }


.navigation {
    max-width: 1300px;
    height: 60px;
    background-color:  #372B2B;
    display: flex;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header__logo {
   
    border: 1px solid #ECE6E6;
    border-radius: 20px;
    width: 70px;
    height: 35px;
    display: flex;
    align-items: center;
    background-color: #ECE6E6;
    cursor: pointer;

}

.nav__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 650px;
}


.nav__item {
    display: flex;
    justify-content: space-between;
    width: 500px;
}



.nav__link {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #F8F9FA;
}

